$big: clamp(4rem, -0.875rem + 15.333vw, 20vw);

.home {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		position: fixed;
		font-size: $big;
		.red {
			z-index: 4;
			mix-blend-mode: color-burn;
		}
		&.white {
			color: white;
			z-index: 3;
			mix-blend-mode: overlay;
		}
	}
	img {
		height: 100vh;
		position: fixed;
		z-index: 1;
	}
}

.header {
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	display: flex;
	z-index: 99;
	justify-content: space-between;
	&.active {
		color: white;
	}
	> div {
		padding: 24px;
	}
}

.menu {
	transition: all 400ms ease-in-out;
	position: fixed;

	bottom: 100%;
	height: calc(100vh - 128px);
	padding: 64px 0;
	color: white;
	width: 100vw;

	&.active {
		z-index: 80;
		bottom: 0;

		background: black;
	}
	.big-title {
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 132px;
		text-indent: 20px;
		width: 50%;
		word-break: break-all;
		&:hover {
			font-family: "Fugaz One", cursive;
		}
	}
}

.link {
	margin-bottom: 30px;
	display: block;
	perspective: 2000px;
	perspective-origin: 50% 50%;
	position: relative;
	font-size: 120px;
	height: 1em;
	transform-style: preserve-3d;
	transition: 400ms all;
	&:hover {
		font-style: italic;
		transform: scale3d(1, 1, 1) rotateX(90deg) rotateY(0deg) rotateZ(0deg)
			translate3d(0px, 0px, 0px) skew(0deg, 0deg);
	}

	label {
		position: absolute;
		left: 0;
		top: 0;
		backface-visibility: hidden;
		transition: 100ms all;
		font-size: 80%;
		text-indent: 30px;
		transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
			translate3d(0px, 0px, 30px) skew(0deg, 0deg);
	}
	a {
		font-family: "Fugaz One", cursive;
		text-decoration: none;
		color: inherit;
		transition: 100ms all;

		backface-visibility: hidden;
		position: absolute;
		left: 0;
		top: 0;
		transform: scale3d(1, 1, 1) rotateX(-90deg) rotateY(0deg) rotateZ(0deg)
			translate3d(0px, 0px, 30px) skew(0deg, 0deg);
	}
}

.menuTrigger {
	&.active {
		color: white;
	}
}
