<html>
  <head>
    <title>Arron McCrory Photography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,400;0,700;1,100;1,400;1,600&family=La+Belle+Aurore&family=Rubik+Glitch&display=swap" rel="stylesheet">
 </head>

<body>
  <section class="header">
	<div><a href="/">ARRON</a></div>
	<div>

	<nav>
		<a href="/">Home</a>
		<a href="/gallery">Portfolio</a>
		<a href="/about">About</a>
	</nav>
	</div>
</section>


  <div class="container">
      {{ content | safe }}
  </div>   



  
<script>


const slideShow = setInterval(imageRotator, 3000);

let lastNumber = 0;
function imageRotator() {
	const images = document.querySelectorAll(".home img");
	if(!images.length) return;
	images.forEach((x) => (x.style.display = "none"));
	let ran = getRandomInt(images.length);
	if (ran == lastNumber) {
		imageRotator();
		return;
	}

	images[ran].style.display = "block";

	lastNumber = ran;
}

imageRotator(); //call 1 time onload

/**
const textEl = document.getElementsByClassName("randomFadeIn")[0];
const text = document.getElementsByClassName("randomFadeIn")[0].innerText;

const arr = text.split("");
textEl.innerText = "";
for (let l of arr) {
	let p = document.createElement("span");
	p.style.opacity = 0;
	const time = getRandomInt(10000);
	p.append(l);

	textEl.append(p);
	setTimeout(() => {
		p.style.opacity = 1;
	}, time);
}

*/

function getRandomInt(max) {
	return Math.floor(Math.random() * max);
}


    </script>
</body>

</html>