<style>
  .container {
    padding: 0px;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }
</style>


<section class="gallery">
  {% for image in collections.gallery %}
    <figure>
      <a href="{{image}}" class="" data-fslightbox data-thumb="/thumb{{image}}">
        <img loading="lazy" src="/thumb{{image}}"/>
      </a>
    </figure>
  {% endfor %}
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.0.9/index.min.js"></script>
