<style>
  figure {
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin: 4px;
  }


  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
  }

  @media screen and (max-width: 758px) {
    .gallery {
      grid-template-columns:1fr 1fr;
    }
  }
  .gallery img {
    filter: grayscale(1);
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .gallery img:hover {
    filter: grayscale(0);

  }
  .gallery a {
      
    display: block;
  
  }
</style>


<section class="gallery">
  {% for image in collections.gallery %}
    <figure>
      <a href="{{image}}" class="" data-fslightbox data-thumb="/thumb{{image}}">
        <img loading="lazy" src="/thumb{{image}}"/>
      </a>
    </figure>
  {% endfor %}
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.0.9/index.min.js"></script>
