---
layout: layouts/base.njk
permalink: /about/
---
<style>
.big {
    font-size: clamp(32px, 3vw, 4vw);
    margin-top: 64px;
}
p {
    font-size: clamp(24px, 2vw, 3vw);
}
</style>

<h1 class="big">About</h1>
<p>My photography is often what catches my eye. The juxtaposition of nature and human made objects is what I find interesting. We build tall sky scrapers so we can see beyond the trees. We build televisions so we can watch birds inside of a box.</p>
<p>I try to capture the balance between our human existence and the existence of Earth itself.</p>

